<nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-900 text-gray-200 shadow-lg navbar navbar-expand-lg navbar-light">
	<div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
		<button class="navbar-toggler text-gray-200 border-0 hover:shadow-none hover:no-underline py-2 px-2.5 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
				<path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
			</svg>
		</button>
		<div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent1">
			<a class="text-xl text-white pr-2 font-semibold" href="/accueil">Accueil</a>
		</div>
		<!-- Collapsible wrapper -->

		<!-- Right elements -->
		<div class="flex items-center relative">
			<div class="dropdown relative">
				<a class="text-white hover:opacity-80 focus:opacity-80 mr-4 dropdown-toggle hidden-arrow flex items-center" href="#" id="dropdownMenuButton1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"/>
					</svg>
					{% if app.user %}
						{{app.user.username}}
						<ul class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto right-0 bg-gray-800" aria-labelledby="dropdownMenuButton1">
							<li>
								<a class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-green-700 hover:bg-green-100" href="/creationchamps">Créer un formulaire</a>
							</li>
							<li>
								<a class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-red-700 hover:bg-orange-100" href="/creationformulaire">Gérer mes formulaires</a>
							</li>
							<li>
								<a class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blue-700 hover:bg-blue-500" href="/stats">Mes statistiques</a>
							</li>
							{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-violet-500 hover:bg-violet-100" id="btnPanelAdmin" href="/admin">Panneau d'adminisration</a>
								</li>
							{% endif %}
						</ul>
					{% else %}
						<p>Attente de connexion</p>
					{% endif %}
				</a>
			</div>
			<a class="hover:opacity-80 focus:opacity-80 flex items-center hidden-arrow" href="/logout" id="btnDeconnexion" role="button" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M5.636 5.636a9 9 0 1012.728 0M12 3v9"/>
				</svg>
			</a>
		</div>
	</div>
</nav>
