{% extends 'base.html.twig' %}

{% block title %}Erreur 404
{% endblock %}

{% block body %}

	<div class="container mx-auto mt-20">
        <h1 class="text-red-900 font-bold text-center text-8xl mt-8">404</h1>
        <p class="text-blue-900 font-bold text-center">Cette page n'existe pas ou plus désoler...</p>
	</div>

{% endblock %}